body {
    background-image: url("../img/fondo5.jpeg");
    background-size: cover;
}

#boton-perfil{
    background-color: rgb(255, 77, 0);
    width: 100%;
    padding: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size: 120%;
}

#boton-buscar{

    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(0, 208, 255);
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 0%;
}

.bienvenida{
    color: white;
    font-weight: bold;
    font-size: 60px;
}

.contenedor-cuerpo{
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}

.botones-cuerpo{
    margin-top: 20px;
    margin-left: 15px;
    background-color: rgb(0, 208, 255);
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 0%;
}

.botones-cuerpo:hover{
    margin-top: 20px;
    margin-left: 15px;
    background-color: rgb(0, 208, 255);
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 0%;
}

.table{
    color: white;
}

.error{

    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: red;
    color: white;
    display: inline-block;

}

h4{
    color: white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}

a{
    text-decoration: none;
    color: black;
}