<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  >
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../static/css/rutinas_cliente.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
      integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
      integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Rutina</title>
  </head>
  <body>
    <!--Barra de navegacion-->
    <nav class="navbar navbar-expand-lg">
      <div class="d-flex justify-content-end w-100">
        <div
          class="d-flex justify-content-end m-3 w-100"
          id="navbarSupportedContent"
        >
          <button class="btn btn-success" id="boton-volver">
            <a th:href="@{/}">Volver</a>
          </button>          
        </div>
      </div>
    </nav>

    <!-- Cuerpo de la vista -->

    <div class="container justify-content-center w-50">
      <div class="anchoNombre">
        <h1 class="bienvenida mb-4" th:text="${cliente.nombre}"></h1>
      </div>
    </div>

    <!-- Rutinas -->

    <div
      class="container-fluid mt-5 d-inline-flex justify-content-evenly row row-cols-1 row-cols-md-3 g-4"
    >
      <div th:each="rutina : ${rutinas}" class="card tarjeta">
        <div th:text="${rutina.mostrarFecha}" class="card-header"></div>
        <div class="card-body d-flex flex-column">
          <p th:text="${rutina.detalle}" class="card-text detalle"></p>
          <div class="d-flex justify-content-center mt-auto w-100">
            <a
              th:href="@{/rutina/enviar/__${rutina.id}__}"
              class="btn btn-primary w-25"
              >Enviar</a
            >
          </div>
        </div>
      </div>
    </div>

    <script
      src="../../static/js/rutinas_cliente.js"
      type="text/javascript"
    ></script>
  </body>
</html>
